
TP1/Binaries/

TP1/Build/

TP1/Config/

TP1/Content/

TP1/Intermediate/

TP1/Saved/

*.sln

*.uproject

*.cs

TP1/Source/SoftDesignTraining/SDTCollectible\.cpp

TP1/Source/SoftDesignTraining/SDTCollectible\.h

TP1/Source/SoftDesignTraining/SDTUtils\.cpp

TP1/Source/SoftDesignTraining/SDTUtils\.h

TP1/Source/SoftDesignTraining/SoftDesignTraining\.cpp

TP1/Source/SoftDesignTraining/SoftDesignTraining\.h

TP1/Source/SoftDesignTraining/SoftDesignTrainingCharacter\.cpp

TP1/Source/SoftDesignTraining/SoftDesignTrainingCharacter\.h

TP1/Source/SoftDesignTraining/SoftDesignTrainingGameMode\.cpp

TP1/Source/SoftDesignTraining/SoftDesignTrainingGameMode\.h

TP1/Source/SoftDesignTraining/SoftDesignTrainingMainCharacter\.cpp

TP1/Source/SoftDesignTraining/SoftDesignTrainingMainCharacter\.h

TP1/Source/SoftDesignTraining/SoftDesignTrainingPlayerController\.cpp

TP1/Source/SoftDesignTraining/SoftDesignTrainingPlayerController\.h
